@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

:root {
  --theme-color: #f54d0e;
  --bg-color: #ffe8d3;
  --bg-footer-color: #706e6e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

.displayNone {
  display: none;
}

.w80 {
  width: 80%;
  margin: auto;
}

.dis-in-bl {
  display: inline-block;
}

/* Test for vh */
.testvh {
  height: 400vh;
}

/* Navbar Section Styles  */
/* Category drop down when the offcanvas body enable
 */
@media (max-width: 430px) {
  .offcanvas #product-categories-btns {
    display: inline-block;
  }

  #carousel_section {
    display: none !important;
  }
}

.nav_color {
  background-color: var(--bg-color);
}

.nav_padding {
  padding: 10px;
}

#navbar-logo-grp {
  display: flex;
  justify-content: center;
}

#navbar-logo {
  margin-left: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid var(--theme-color);
}

#navbar-logo-brand {
  padding-left: 10px;
}

#navbar-logo-brand a {
  text-decoration: none;
  color: var(--theme-color);
}

#navbar-logo img {
  width: 100%;
  padding: 5px;
  object-fit: contain;
  position: relative;
  top: -5px;
}

.nav-item a {
  margin-bottom: 0;
}

.nav-item a:hover {
  padding-bottom: 5px;
  border-bottom: 2px solid var(--theme-color);
}

/* Profile Image  */
.profile-img img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

/* Product Categories & Carousel Section Start Here  */
#product-categories-btns button {
  text-align: start;
  border: none;
  background-color: var(--bg-color);
  padding: 3px 0;
}

#product-categories-btns button:hover {
  border-bottom: 2px solid var(--theme-color) !important;
  background-color: var(--bg-color);
}

#carousel_section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 70px auto;
}

#product-categories {
  /* width: 25%; */
  /* height: 200px; */
  padding: 35px 50px;
  background-color: var(--bg-color);
  border: 2px solid var(--theme-color);
  border-radius: 10px;
}
#product-categories ul {
  padding: 0;
  margin: 0;
}
#product-categories ul li {
  list-style: none;
}

/* #carousel {
  width: 73%;
  height: 400px;
  background-color: var(--bg-color);
  border: 2px solid var(--theme-color);
  border-radius: 10px;
  padding: 30px 50px;
} */

.carousel img {
  height: 400px;
  border-radius: 10px;
}

/* Cart Title Section Start Here  */
#cart-item-noti-size {
  font-size: 10px;
}
.cart-nothing {
  display: none !important;
}

.cart-show {
  display: inline-block;
}

#card-title-section {
  margin-bottom: 20px;
}

/* Login page styles  */
#login_body {
  /* background-color: grey;
  padding: 20px 40px;
  border-radius: 20px; */
  margin-top: 50px;
}
#login_section {
  padding: 60px;
}
#login_section img {
  width: 300px;
  margin-top: 7 0px;
}
#login_header h1 {
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: bolder;
}

#login_header .login_back_text {
  color: var(--theme-color);
}

#login_header p {
  /* color: white; */
  color: grey;
}
#btn_container {
  display: flex;
  justify-content: center;
}
#login_btn {
  width: 150px;
}

/* Logout Button Section Start Here  */
#logout-btn-container button {
  border: none;
  background-color: var(--bg-color);
}

/* Search Box Styles Start here */
#search-container {
  margin: 50px auto;
  width: 60%;
}

#search-box {
  /* border: 2px solid orangered; */
  background-color: gainsboro;
  border-radius: 50px;
}

#search-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#search-form-inputgp {
  margin-left: 15px;
  /* width: 100%; */
}

#search-form-inputgp input {
  background-color: gainsboro;
  border: none;
  width: 70%;
  padding-left: 10px;
}

#search-form-inputgp input:focus {
  border: none; /* Remove border on focus */
  outline: none;
  box-shadow: none; /* Optionally remove any shadow */
}

#search-btn {
  width: 100px;
  background-color: rgba(255, 68, 0, 0.799);
  color: white;
  border: 2px solid rgba(255, 68, 0, 0.799);
  border-radius: 50px;
  margin: 5px;
  padding: 5px;
}

#search-btn:hover {
  background-color: rgba(255, 68, 0, 0.974);
}

/*footer section*/
footer {
  margin-top: 50px;
}

.footer_heading {
  color: var(--theme-color);
}

footer {
  background-color: var(--bg-footer-color);
}

/* Card List Styles  */
.card {
  /* width: 300px; */
  height: 100%;
}

#product-section container {
  margin: 50px 0;
}

.product-lists {
  width: 70%;
  margin: auto;
}

.product-lists row {
  justify-content: space-evenly;
}

.img_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 290px;
}

/* #product-img {
  padding: 20px 0;
} */

#product_price {
  font-size: 1.5rem;
  font-weight: bolder;
  color: black;
}

.fav_add {
  border: none;
  background-color: white;
  padding-left: 5px;
}

.fav_add:hover {
  transform: scale(1.2);
  transition: all 0.5s;
}

.card_shadow {
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

/* Sign UP page Stat Here
 */
.signup_back_text {
  color: var(--theme-color);
}

#signup_container {
  margin: auto;
  width: 80%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

/* Cart List Style Start here  */
#cart-section li {
  list-style: none;
}

.cart-list-container {
  width: 80vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.cart-list-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* #cart-btn {
  position: fixed;
  top: 80%;
  left: 80%;
} */

marquee {
  font-size: 1.5rem;
  background-color: rgb(234, 234, 216);
  padding: 10px;
}
/* topbtn */
.topbtn {
  font-size: 3rem;
  /* text-align: right; */
  position: fixed;
  right: 5%;
  top: 85%;
  border: none;
}
.topbtn i {
  color: var(--theme-color) !important;
}
/* $ text-body */
.text-body-secondary {
  font-size: 1.5rem;
}
