@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

:root {
  --theme-color: #f54d0e;
  --bg-color: #ffe8d3;
  --bg-footer-color: #706e6e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

/* Test for vh */
.testvh {
  height: 400vh;
}

/* Navbar Section Styles  */
.nav_color {
  background-color: var(--bg-color);
}

.nav_padding {
  padding: 10px;
}

#navbar-logo-grp {
  display: flex;
  justify-content: center;
}

#navbar-logo {
  margin-left: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid var(--theme-color);
}

#navbar-logo-brand {
  padding-left: 10px;
}

#navbar-logo-brand a {
  text-decoration: none;
  color: var(--theme-color);
}

#navbar-logo img {
  width: 100%;
  padding: 5px;
  object-fit: contain;
  position: relative;
  top: -5px;
}
.nav-item a:hover {
  padding-bottom: 5px;
  border-bottom: 2px solid var(--theme-color);
}
/* Login page styles  */
#login_body {
  /* background-color: grey;
  padding: 20px 40px;
  border-radius: 20px; */
  margin-top: 50px;
}
#login_section {
  padding: 60px;
}
#login_section img {
  width: 300px;
  margin-top: 7 0px;
}
#login_header h1 {
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: bolder;
}

#login_header .login_back_text {
  color: var(--theme-color);
}

#login_header p {
  /* color: white; */
  color: grey;
}
#btn_container {
  display: flex;
  justify-content: center;
}
#login_btn {
  width: 150px;
}

/*footer section*/

.footer_heading {
  color: var(--theme-color);
}

footer {
  background-color: var(--bg-footer-color);
}

/* Card List Styles  */
#product-section container {
  margin: 50px 0;
}

.product-lists {
  width: 70%;
  margin: auto;
}

.product-lists row {
  justify-content: space-evenly;
}

/* #product-img {
  padding: 20px 0;
} */

#product_price {
  font-size: 1.5rem;
  font-weight: bolder;
  color: black;
}

.fav_add {
  border: none;
  background-color: white;
  padding-left: 5px;
}

.fav_add:hover {
  transform: scale(1.2);
  transition: all 0.5s;
}

.card_shadow {
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}
